@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    margin: 0.5rem 0;
}

.main_title {
    font-family: 'Vampiro One', system-ui;
    @apply text-blood-500 text-3xl;
}

.subtitle {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    @apply text-gray-400 text-lg;
    @apply lg:text-2xl;
}

.section_title {
    font-family: 'Vampiro One', system-ui;
    @apply text-blood-500 text-3xl;
    @apply lg:text-5xl;
}

.column_title {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    @apply text-gray-400 font-bold text-xl;
    @apply lg:text-3xl;
}

.header_attribute_title {
    font-family: 'Ubuntu', sans-serif;
    @apply text-skin-50 font-bold text-xl;
}

.attribute_category_title {
    font-family: 'Vampiro One', system-ui;
    @apply text-blood-500 text-2xl;
}

.attribute_title {
    font-family: 'Ubuntu', sans-serif;
    @apply text-skin-50 font-bold text-xl;
    @apply lg:text-3xl;
}

.bottom_right_menu {
    background: url('https://content.demiplane.com/nexus/vampire/vtm-marble-red.jpg') !important;
    opacity: 0;
    animation: fadeUp 300ms forwards;
}

.character_card {
    background: url('https://content.demiplane.com/nexus/vampire/vtm-marble-red.jpg') !important;
    @apply mx-4 px-4 py-2 rounded-lg border border-red-900;

    h2 {
        font-family: 'Ubuntu', sans-serif;
        @apply text-blood-500 font-bold text-2xl my-2;
    }

    h3 {
        font-family: 'Ubuntu', sans-serif;
        @apply text-skin-50 text-xl my-2;
    }
}

.menu_text {
    font-family: 'Vampiro One', system-ui;
    @apply text-white text-2xl my-4;
}

.detail_text {
    @apply text-white text-lg text-justify;
}

.character_header {
    background: url('https://content.demiplane.com/nexus/vampire/vtm-marble-red.jpg') !important;
}

.desktop_menu {
    @apply hidden lg:block lg:flex lg:justify-between;
    @apply mt-4 pb-4;
    @apply border-b border-gray-700;
}

.desktop_menu_buttons {
    font-family: 'Ubuntu', sans-serif;
    @apply text-skin-50 text-2xl italic font-bold px-4 py-2;
    @apply lg:text-3xl;
}

.desktop_menu_active {
    font-family: 'Ubuntu', sans-serif;
    @apply italic font-bold text-white text-2xl px-4 py-2 rounded-lg bg-blood-500;
    @apply lg:text-3xl;
}

.description-modal {
    @apply w-full bg-darkness-900 overflow-scroll shadow-xl transform transition-all h-[70%] px-4;
    @apply lg:mx-auto lg:border-0 lg:max-w-7xl;
}

.description-modal h1 {
    font-family: 'Vampiro One', system-ui;
    @apply text-skin-50 uppercase font-bold text-2xl lg:text-3xl;
    @apply mt-8 text-blood-500 text-center;
}

.description-modal h3 {
    font-family: 'Ubuntu', sans-serif;
    @apply text-skin-50 font-bold text-xl lg:text-2xl;
    @apply pt-4 ml-4;
}

.description-modal p {
    font-family: 'Ubuntu', sans-serif;
    /*font-style: italic;*/
    @apply px-2 my-4;
    @apply text-gray-400 text-sm text-justify;
    @apply lg:text-xl;
}

.description-modal ul {
    list-style: square;
    @apply my-2 ml-8;
    @apply text-gray-400 font-bold;
}

.description-modal ol {
    color: red;
    list-style-type: upper-roman;
    @apply my-4 ml-8;
    @apply text-gray-400 font-bold;
}

.description-modal ol li, .description-modal ul li {
    @apply my-2 ;
}
